/* -------------------------------------
GLOBAL RESETS
------------------------------------- */
img {
  border: none;
  -ms-interpolation-mode: bicubic;
max-width: 100%; }
body {
  color: #222;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%; }
table {
  border-collapse: separate;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
width: 100%; }
table td {
  font-family: "Open Sans";
  font-size: 16px;
vertical-align: top; }
/* -------------------------------------
BODY & CONTAINER
------------------------------------- */
.body {
  /*background-color: #f6f6f6;*/
width: 100%; }
/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display: block;
  Margin: 50px auto !important;
  /* makes it centered */
  max-width: 500px;
  /*padding: 10px;*/
  width: auto !important;
  border: solid 1px #c5c5c5;
  border-radius: 5px;
}
/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  box-sizing: border-box;
  display: block;
  Margin: 0 auto;
  max-width: 500px;
  text-align: center;
  /*padding: 10px; */
}
/* -------------------------------------
HEADER, FOOTER, MAIN
------------------------------------- */

.ons-logo {
  padding: 30px 0;
  width: 50%;
}


.main {
  /*background: #003DC9;*/
  border-radius: 3px;
  border-color: #222;
width: 100%; }
.wrapper {
  box-sizing: border-box;
  /*padding: 20px; */
}


.footer {
  clear: both;
  padding-top: 0px;
  padding-bottom: 40px;
  text-align: center;
width: 100%; }
.footer td,
.footer p,
.footer span,
.footer a {
  font-size: 12px;
text-align: center; }
/* -------------------------------------
TYPOGRAPHY
------------------------------------- */
h1,
h2,
h3,
h4 {
  color: #222;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
Margin-bottom: 30px; }
h1 {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}
p,
ul,
ol {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  color: #222;
Margin-bottom: 15px; }
p li,
ul li,
ol li {
  list-style-position: inside;
margin-left: 5px; }

/* -------------------------------------
BUTTONS
------------------------------------- */
.btn {
  box-sizing: border-box;
width: 100%; }
.btn > tbody > tr > td {
padding-bottom: 15px; }
.btn table {
width: auto; }
.btn table td {
  background-color: #ffffff;
  border-radius: 5px;
text-align: center; }
.btn a {
  background-color: #222;
  border-radius: 5px;
  box-sizing: border-box;
  color: #3498db;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 22px 35px;
  text-decoration: none;
text-transform: uppercase; }
.btn-primary table td {
background-color: #fff; }
.btn-primary a {
  background-color: #222;
  border-color: #3498db;
color: #fff; }
/* -------------------------------------
OTHER STYLES THAT MIGHT BE USEFUL
------------------------------------- */
.last {
margin-bottom: 0; }
.first {
margin-top: 0; }
.align-center {
text-align: center; }
.align-right {
text-align: right; }
.align-left {
text-align: left; }
.clear {
clear: both; }
.mt0 {
margin-top: 0; }
.mb0 {
margin-bottom: 0; }
.preheader {
  color: transparent;
  display: none;
  height: 0;
  max-height: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  mso-hide: all;
  visibility: hidden;
width: 0; }
.powered-by a {
text-decoration: none; }
hr {
  border: 0;
  border-bottom: 1px solid #f6f6f6;
Margin: 20px 0; }
/* -------------------------------------
RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
@media only screen and (max-width: 620px) {
  table[class=body] h1 {
    font-size: 28px !important;
  margin-bottom: 10px !important; }
  table[class=body] p,
  table[class=body] ul,
  table[class=body] ol,
  table[class=body] td,
  table[class=body] span,
  table[class=body] a {
  font-size: 16px !important; }
  table[class=body] .wrapper,
  table[class=body] .article {
  padding: 10px !important; }
  table[class=body] .content {
  padding: 0 !important; }
  table[class=body] .container {
    padding: 0 !important;
  width: 100% !important; }
  table[class=body] .main {
    border-left-width: 0 !important;
    border-radius: 0 !important;
  border-right-width: 0 !important; }
  table[class=body] .btn table {
  width: 100% !important; }
  table[class=body] .btn a {
  width: 100% !important; }
  table[class=body] .img-responsive {
    height: auto !important;
    max-width: 100% !important;
width: auto !important; }}
/* -------------------------------------
PRESERVE THESE STYLES IN THE HEAD
------------------------------------- */
@media all {
  .ExternalClass {
  width: 100%; }
  .ExternalClass,
  .ExternalClass p,
  .ExternalClass span,
  .ExternalClass font,
  .ExternalClass td,
  .ExternalClass div {
  line-height: 100%; }
  .apple-link a {
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
  text-decoration: none !important; }
  .btn-primary table td:hover {
  background-color: #e3e3e3 !important; }
  .btn-primary a:hover {
    background-color: #e3e3e3 !important;
  }
}
