<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>SPACE-S Bewonersplatform </title>
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>

                        <img src="{{baseUrl}}/static/invite-mail/ons-gifje.gif" alt="" border="0" style="display:block; border:none; outline:none; text-decoration:none; margin:auto; padding:30px 0;">
                        <h1 text-align="center">ONS SPACE-S bewonersplatform is live!</h1>
                        <p>Beste (toekomstige) SPACE-S bewoner,</p>

                        <p>Het is ons, de Workspace Online Community, een waar genoegen om eindelijk deze mail te kunnen versturen. Na vele maanden gewerkt te hebben aan het SPACE-S Platform is het nu zover: ONS gaat LIVE!</p>

                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                          <tbody>
                            <tr>
                              <td align="center">
                                <table border="0" cellpadding="0" cellspacing="30px">
                                  <tbody>
                                    <tr>
                                      <td> <a href="{{registerLink}}" target="_blank">Naar ONS</a> </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <p>Vanaf vandaag is één van de drie modules beschikbaar: het Prikbord. Door op de "NAAR ONS" knop hierboven te klikken kom je bij de registratiepagina, waar je eerst wat persoonlijke gegevens moet invullen. Na de registratie kom je direct terecht op het Prikbord. Zie het Prikbord als een vernieuwd forum. Het is bedoeld voor alle vragen en tips, problemen en oplossingen, opmerkingen en overleggen, conversaties en plannen. Het Prikbord is verdeeld over 6 hoofdcategorieën met daaronder nog subcategorieën.</p>

                        <p>
                          Momenteel is het Prikbord nog vrij leeg, maar we zien daar graag verandering in komen! Schiet je iets te binnen wat je wil delen, dan zien wij het graag. Zelf zijn we een aantal discussies gestart, die zijn handig om meteen even te lezen en eventueel je bijdrage aan te leveren:<br/>
                          <a href="https://ons.space-s.nl/forum/d/5-stel-jezelf-voor/">Stel jezelf voor! – in Algemeen</a><br/>
                          <a href="https://ons.space-s.nl/forum/d/10-hoe-werkt-het-forum"> Hoe werkt het Prikbord? – in Algemeen. Hier wordt nog hard aan gewerkt door Thomas.</a><br>
                            <a href="https://ons.space-s.nl/forum/d/6-format-hoe-geef-je-goede-feedback"> Hoe geef je goede feedback – in Mededelingen, Feedback. Zeer belangrijk, we horen het natuurlijk ook graag als er dingen niet werken zoals het hoort of als er functies missen.</a><br/>
                          <b>(Je moet eerst registeren voordat je de discussies kan zien.)</b><br/>
                        </p>

                        <p>Als laatste willen we nog aangeven dat de SPACE-S Bewoners Facebookgroep langzamerhand zal worden uitgefaseerd. Het is niet de bedoeling dat hier nog actief gebruik van gemaakt wordt, behalve als je problemen hebt met het registreren op ONS. Ook kan je problemen met registreren altijd melden via: ons.spaces@gmail.com .</p>

                        <p>Wij hopen dat jullie net zo enthousiast zijn over ONS als wij dat zijn. Dus ga nu, klik op die knop, registreer jezelf en aanschouw ONS SPACE-S!</p>

                        <p>Met vriendelijke groet,<br/>
                          De Workspace Online Community</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>

            <!-- START FOOTER -->
            <div class="footer">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <span class="apple-link">ONS | Online Netwerk SPACE-S</span>
                  </td>
                </tr>
              </table>
            </div>

            <!-- END FOOTER -->

<!-- END CENTERED WHITE CONTAINER --></div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
