Beste (toekomstige) SPACE-S bewoner,

Het is ons, de Workspace Online Community, een waar genoegen om eindelijk deze mail te kunnen versturen. Na vele maanden gewerkt te hebben aan het SPACE-S Platform is het nu zover: ONS gaat LIVE!

{{registerLink}}

Vanaf vandaag is één van de drie modules beschikbaar: het Prikbord. Door op de link hierboven te klikken kom je bij de registratiepagina, waar je eerst wat persoonlijke gegevens moet invullen. Na de registratie kom je direct terecht op het Prikbord. Zie het Prikbord als een vernieuwd forum. Het is bedoeld voor alle vragen en tips, problemen en oplossingen, opmerkingen en overleggen, conversaties en plannen. Het Prikbord is verdeeld over 6 hoofdcategorieën met daaronder nog subcategorieën.

Momenteel is het Prikbord nog vrij leeg, maar we zien daar graag verandering in komen! Schiet je iets te binnen wat je wil delen, dan zien wij het graag. Zelf zijn we een aantal discussies gestart, die zijn handig om meteen even te lezen en eventueel je bijdrage aan te leveren:
Stel jezelf voor! – in Algemeen
Hoe werkt het Prikbord? – in Algemeen.
Hoe geef je goede feedback – in Mededelingen, Feedback.
(Je moet eerst registeren voordat je de discussies kan zien.)

Als laatste willen we nog aangeven dat de SPACE-S Bewoners Facebookgroep langzamerhand zal worden uitgefaseerd. Het is niet de bedoeling dat hier nog actief gebruik van gemaakt wordt, behalve als je problemen hebt met het registreren op ONS. Ook kan je problemen met registreren altijd melden via: ons.spaces@gmail.com .

Wij hopen dat jullie net zo enthousiast zijn over ONS als wij dat zijn. Dus ga nu, klik op die knop, registreer jezelf en aanschouw ONS SPACE-S!

Met vriendelijke groet,
De Workspace Online Community

ONS | Online Community Platform
